body{
font-family: 'Cinzel', serif;
background-color: #fbf9ff;
}
select{
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-right: 10px;
}
.jumbotron{
  background-image: url("../img/headerBG.jpg");
  background-size: cover;
  padding-bottom: 150px;
  padding-top: 150px;
  background-position:top;
text-align: center;
margin-bottom: 15px;
}
.jumbotron h1{
  color: #f4f4f4;
  font-size: 20em;
  text-shadow: 4px 4px 5px black;
  letter-spacing: 20px;

}
.jumbotron h2{
  color: #f4f4f4;
  font-size: 2em;
  text-shadow: 4px 4px 5px black;
  letter-spacing: 20px;

}
.jumbotron h4{
  color: #f4f4f4;
  font-size: 1.5em;
  text-shadow: 2px 2px 3px black;
  letter-spacing: 3px;
  margin-bottom: 15px;

}

.cheap{
  background-color: #e0ffe8;
}
.medium{
background-color: #ffffe0;
}
.expensive{
background-color: #fce0db;
}
.progress{
height: 2em;

}
#newKeg{
  font-size: 1.2em;
  background-color: #e2e0e0;
  margin-bottom: 5px;

}
.progress-bar p{
  font-size: 1em;
  margin-top: 10px;
}
.deleteBtn{
  /*background: red;
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;*/
  float: right;

}
.editBtn{
  font-size: .5em;

}

.kegIcon{
  background-image: url("../img/keg_icon.png");
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;

}
.kegContainer{
  margin-right: 30px;

}


#moneh {
  float: right;
  margin-top:0px;
}
#editKeg{
  position: fixed;
  bottom: 0px;
  width: 97%;
  background: silver;
  margin: 20px;

}
#editKegInternal{
  padding: 30px;
}
#newKegForm{
  position: fixed;
  bottom: 0px;
  width: 97%;
  background: silver;
  margin: 20px;
}
#newKegFormInternal{
  padding: 30px;
}
.ABV{
  margin: 0px;
  padding: 0px;
}
.progress-abv{
  width: 20%;
  margin-bottom: 10px;
}
.vertical-container{
  padding-top: 25px;
  padding-left: 13px;
}
.vertical {
  width: 93px;
  height: 75px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  opacity: .7;
  background-color: rgba(0, 0, 0, 0);
}

.pourButtons {
  margin-left: 1px;
}

.pourButtons button {
  margin-right: 10px;
}

.abvbolded {
  font-size: 1.3em;
  font-weight: bold;
}
